*{
    font-size: 1rem;
}

button{
    background-color: black;
    border:1px solid black;
    
}
body{
    background-color: black;
}

@font-face{
    font-family: "grafitti";
    /*src: url('adrip1.ttf');*/
    src: url('RockSalt-Regular.ttf');
}
p{
    color: red;
}

#navbar{

}
.navbar{
    display: flex;
    flex-direction: row;
    font-family: 'grafitti';
    height: 3rem;
    width: auto;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
    

    /*background-color: midnightblue;*/
    /*box-shadow: 0px 0px 80px blue;*/
}

.nav-button{
    margin-left: 5rem;
    font-family: 'grafitti';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    height: 100%;
    width: 20%;
    padding: 3px;
    /*width: 20%;*/
    /*border: 1px solid #ff0080;*/
    color:  #4ddbff;
    box-shadow: 0px 0px 70px 10px #ff0080;
    border-radius: 50%;
    
}
a{
    text-decoration: none;
    color: #4ddbff;
    font-size: 1rem;
}

.banner{
    display: flex;
    flex-direction:row;
    
    height: 5rem;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: 'grafitti';
    color:   ;
    color:#4ddbff;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 10px #ff0080;
    border: 1px solid #ff0080;
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5rem;
    padding-bottom: 40px;
}
.main-picture{
    height: 20rem;
    width: 20rem;
    border: 3px solid #4ddbff;
    box-shadow: 0px 0px 30px 6px #4ddbff;
    margin-right: 3rem;
    
}



.pic{
    height:20rem;
    width: auto;
}

.footer{
    width: 100%;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    border-top: .5rem solid #ff0080;
    /*border: 1px solid red;*/
    height: 5rem;
    padding-bottom:  40px;
}

.footer-link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 20%;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 10px #ff0080;   
    font-family: 'grafitti';    
    color: #4ddbff;
}