*{
    font-size: 1rem;
}
body{
    background-color: black;
}

p{
    color: red;
}

#navbar{

}
.navbar{
    display: flex;
    flex-direction: row;
    
    height: 3rem;
    width: auto;
    justify-content: space-between;
    align-items: center;
    background-color: midnightblue;
    box-shadow: 0px 0px 80px blue;
}

.nav-button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    height: 100%;
    width: 15%;
    /*border: 1px solid #b30059;*/
    color:  #b30059;
    box-shadow: 0px 0px 70px 10px #b30059;
    
}